@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

 
h4 {
  color: #fff;
  font-size: 14px;
}

p {
  color: #f4f0f0;
  font-size: 14px;
}

